<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Register</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="onRegister()" #registerForm="ngForm">
    <ion-list lines="full">
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" required [(ngModel)]="name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" required [(ngModel)]="email" name="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" required [(ngModel)]="password" name="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Confirm Password</ion-label>
        <ion-input type="password" required [(ngModel)]="confirmPassword" name="confirmPassword"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" type="submit" [disabled]="!registerForm.form.valid">Register</ion-button>
  </form>

  <div class="ion-text-center ion-margin-top">
    <ion-text color="medium">
      Already have an account?
      <a routerLink="/login">Login</a>
    </ion-text>
  </div>
</ion-content>
